
name: Boardgame

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn  package 

    - name: Upload a build artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: boardgame-jar
        path: target/*jar
        
  security-check:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        sudo apt-get install -y wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update -y
        sudo apt-get install -y trivy
    - name: Trivy FS Scan
      run: trivy fs --exit-code 0 --severity HIGH,CRITICAL --format table -o fs-report.json .

    - name: Upload Trivy FS scan report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-fs-report
        path: fs-report.json


    - name: Gitleaks Installation
      run: sudo apt install gitleaks -y
    - name: Gitleaks Code Scan
      run: gitleaks detect --source . --report-path=gitleaks-report.json -f json 

  
    - name: Download a Build artifact
      uses: actions/download-artifact@v6.0.0
      with:
        name: boardgame-jar
        path: ./app
      
  builddeploy:

    runs-on: ubuntu-latest
    needs: security-check

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Download a Build artifact
      uses: actions/download-artifact@v6.0.0
      with:
        name: boardgame-jar
        path: ./app
      
    - name: Docker build and push
      uses: docker/login-action@v3.6.0
      with: 
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Copy JAR to root for Docker build
      run: cp ./app/*.jar ./app.jar

    - name: Build Docker image
      run: docker build -t hacked01/boardgame:latest .

    - name: Push Docker image
      run: docker push hacked01/boardgame:latest

    - name: List running containers
      run: docker ps
